<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.db_document.mapper.DocumentMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO document
            (name, folder_id, content, creator_id)
        VALUES
            (#{name}, #{folderId},#{content} ,#{creatorId})
    </insert>

    <update id="softDeleteById">
        UPDATE document
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.example.db_document.pojo.Document">
        SELECT *
        FROM document
        WHERE id = #{id}
          AND is_deleted = 0
    </select>

    <select id="countByNameAndFolderId" resultType="int">
        SELECT COUNT(*)
        FROM document
        <where>
            is_deleted = 0 AND name = #{name}
            <choose>
                <when test="folderId != null">
                    AND folder_id = #{folderId}
                </when>
                <otherwise>
                    AND folder_id IS NULL
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectByFolderId" resultType="com.example.db_document.pojo.Document">
        SELECT *
        FROM document
        <where>
            is_deleted = 0
            <choose>
                <!-- 如果传入了具体的ID，就查 parent_id = ID -->
                <when test="folderId != null">
                    AND folder_id = #{folderId}
                </when>
                <!-- 如果传入 null，说明查根目录，用 IS NULL -->
                <otherwise>
                    AND folder_id IS NULL
                </otherwise>
            </choose>
        </where>
        ORDER BY create_time DESC
    </select>

    <update id="changeFolderId">
        UPDATE document
        SET folder_id = #{newFolderId}
        WHERE id = #{documentId}
          AND is_deleted = 0
    </update>

    <update id="updateDynamic">
        UPDATE document
        <set>
            <if test="name != null and name != ''"> name = #{name}, </if>
            <if test="content != null"> content = #{content}, </if>
            <if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

</mapper>