<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.db_document.mapper.PermissionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permission
            (document_id, user_id, permission_type)
        VALUES
            (#{documentId}, #{userId}, #{permissionType})
    </insert>

    <select id="selectByDocIdAndUserId" resultType="com.example.db_document.pojo.Permission">
        SELECT *
        FROM permission
        WHERE document_id = #{documentId}
            AND user_id = #{userId}
            AND (permission_type = 'owner' OR permission_type = 'editor')
    </select>

    <select id="selectByDocIdAndUserIdCollaborate" resultType="com.example.db_document.pojo.Permission">
        SELECT *
        FROM permission
        WHERE document_id = #{documentId}
            AND user_id = #{userId}
            AND permission_type IN ('editor', 'viewer')
    </select>

    <select id="selectUsersByDocumentId" resultType="com.example.db_document.pojo.User">
        SELECT user.*
        FROM (
        SELECT user_id
        FROM permission
        WHERE document_id = #{documentId}
        AND is_deleted = 0
        AND permission_type IN ('editor', 'viewer')
        ) AS perm
        INNER JOIN user ON perm.user_id = user.id

    </select>

    <update id="deleteByDocIdAndUserId">
        UPDATE permission
        SET is_deleted = 1
        WHERE document_id = #{documentId}
            AND user_id = #{userId}
    </update>

</mapper>