<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.db_document.mapper.PermissionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permission
            (document_id, user_id, permission_type)
        VALUES
            (#{documentId}, #{userId}, #{permissionType})
    </insert>

    <select id="selectByDocIdAndUserId" resultType="com.example.db_document.pojo.Permission">
        SELECT *
        FROM permission
        WHERE document_id = #{documentId}
            AND user_id = #{userId}
            AND permission_type IN ('editor', 'owner')
            AND is_deleted = 0
    </select>

    <select id="selectByDocIdAndUserIdCollaborate" resultType="com.example.db_document.pojo.Permission">
        SELECT *
        FROM permission
        WHERE document_id = #{documentId}
            AND user_id = #{userId}
            AND permission_type IN ('editor', 'viewer')
            AND is_deleted = 0
    </select>

    <select id="selectUsersByDocumentId" resultType="com.example.db_document.pojo.User">
        SELECT user.*
        FROM (
        SELECT user_id
        FROM permission
        WHERE document_id = #{documentId}
        AND is_deleted = 0
        AND permission_type IN ('editor', 'viewer')
        ) AS perm
        INNER JOIN user ON perm.user_id = user.id

    </select>

    <select id="selectUserVOByDocumentId" resultType="com.example.db_document.model.vo.UserVO">
        SELECT
            u.id AS userId,
            u.nickname,
            u.avatarUrl,
            u.bio,
            dp.permission_type AS permissionType
            FROM permission dp LEFT JOIN user u ON dp.user_id = u.id
        WHERE dp.document_id = #{documentId} AND dp.is_deleted = 0
    </select>

    <update id="deleteByDocIdAndUserId">
        DELETE FROM permission
        WHERE document_id = #{documentId} AND user_id = #{userId}
    </update>

</mapper>