<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.db_document.mapper.UserMapper">

    <!-- 1. 新增用户 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        (nickname, password, phone_num, email)
        VALUES
            (#{nickname}, #{password}, #{phoneNum}, #{email})
    </insert>

    <!-- 2. 根据邮箱查询 -->
    <select id="selectByEmail" resultType="com.example.db_document.pojo.User">
        SELECT *
        FROM user
        WHERE email = #{email}
          AND is_deleted = 0
    </select>

    <!-- 3. 根据手机号查询 -->
    <select id="selectByPhone" resultType="com.example.db_document.pojo.User">
        SELECT *
        FROM user
        WHERE phone_num = #{phone}
          AND is_deleted = 0
    </select>

    <select id="selectByAccount" resultType="com.example.db_document.pojo.User">
        SELECT *
        FROM user
        WHERE (nickname = #{account} OR email = #{account} OR phone_num = #{account})
          AND is_deleted = 0
    </select>

    <select id="selectByNickname" resultType="com.example.db_document.pojo.User">
        SELECT *
        FROM user
        WHERE (nickname = #{nickname})
          AND is_deleted = 0
    </select>

    <select id="selectById" resultType="com.example.db_document.pojo.User">
        SELECT *
        FROM user
        WHERE id = #{id}
          AND is_deleted = 0
    </select>

    <update id="updateAvatarById">
        UPDATE user
        SET avatarUrl = #{newAvatarUrl}
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

    <update id="updatePasswordById">
        UPDATE user
        SET password = #{newPassword}
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

    <update id="updateDynamic">
        UPDATE user
        <set>
            <if test="nickname != null and nickname != ''"> nickname = #{nickname}, </if>
            <if test="phoneNum != null and phoneNum != ''"> phone_num = #{phoneNum}, </if>
            <if test="email != null and email != ''"> email = #{email}, </if>
            <if test="bio != null"> bio = #{bio}, </if> <!-- bio 可以为空字符串清空，所以不判断 != '' -->
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

</mapper>
